<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,700; 1,100; 1,200; 1,300 & display = swap">

   

    <link rel="stylesheet" href="../static/css/style-cadastro.css">

    <script>
        
    </script>

    <title>Tela de Login</title>
</head>

<body>
    <main class="caixa">

        <h2 class="entrada">Cadastro</h2>

        <form id="form-login" name="form">
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Informe um email válido">
                <div class="underline"></div>
            </div>
            
            <form id="form-login" name="form">
              <div class="input-field">
                  <input type="text" name="username" id="username" placeholder="Informe seu nome">
                  <div class="underline"></div>
              </div>   

            <div class="input-field">
                <input type="password" name="username" id="username" placeholder="Crie uma senha">
                <div class="underline"></div>
            </div>   

            <div class="input-field">
              <input type="password" name="username" id="username" placeholder="Repita sua senha">
              <div class="underline"></div>
          </div> 

          <div class="input-field">
            <input type="text" name="CPF" id="CPF" placeholder="Informe um número de telefone válido">
            <div class="underline"></div>
        </div>

        <div class="input-field">
          <input type="text" name="CPF" id="CPF" placeholder="Informe um CPF válido">
          <div class="underline"></div>
      </div>  


      

            <input type="button" value="Acessar" >



        
        </form>

       
    </main>
    
</body>

</html>